<!-- About Us -->
<div class="tm-section about-us-area bg-grey section-{{ section.id }}">
  <div class="about-image" data-bgimage="{{ "about-image-1.jpg" | image_url }}" data-overlay="1">
    <div class="tm-videobutton">
      <a data-fancybox href="{{ section.settings.link }}">
        <span><i class="flaticon-play-button"></i></span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-6">
        <div class="about-content tm-padding-section">
          <h2>
            <span
              ><span class="color-theme">{{ section.settings.subheading }}</span></span
            >
            {{- section.settings.heading }}
          </h2>
          <p>
            {{ section.settings.description }}
          </p>
          <div class="about-contentbottom">
            <a href="about-us.html" class="tm-button">{{ section.settings['button-text'] }}</a>
            <a href="tel:{{ section.settings.phone }}" class="tm-callbutton">
              <span class="tm-callbutton-icon"><i class="zmdi zmdi-phone-in-talk"></i></span>
              <h3>{{ section.settings.phone }}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // About Us -->

{% schema %}
{
  "name": "About us section",
  "tag": "section",
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Video URL"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Dialia Registered Massage Therapy</p>"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub-Heading",
      "default": "<p>Positive Effects of</p>"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>The health care profession of Dialia Registered Massage Therapy is far more advanced than typical bodywork or relaxation massage.</p>"
    },
    {
      "type": "font",
      "id": "font",
      "label": "Font style"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "font-size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "richtext",
      "id": "button-text",
      "label": "Button text",
      "default": "<p>Read more</p>"
    },
    {
      "type": "font",
      "id": "button-font",
      "label": "Font style"
    },
    {
      "type": "range",
      "id": "button-font-size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "+8801823728535"
    }
  ],
  "presets": [
    {
      "name": "About us section"
    }
  ]
}
{% endschema %}
