<!-- Header Top Area -->
<div class="header-toparea Announcement-{{ section.id }}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-6 col-12">
                <div class="header-topinfo">
                    <ul>
                        <li>Email us : <a class="{{ section.id }}-email" href="mailto://contact@example.com">{{ section.settings.topbar-email-text }}</a></li>
                        <li>Call us : <a class="{{ section.id }}-phone" href="tel://+1-800-915-6270">1-800-915-6270</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12">
                <div class="header-topbutton">
                    <a href="#" class="tm-button tm-button-white">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%- style -%}

  .{{ section.id }}-email,{{ section.id }}-phone{
      color:{{ section.settings.text-color }} !important;
      font-size:{{ section.settings.font-size }}px;
      font-family:{{ section.settings.topbar-font }};
  }
{%- endstyle -%}


{% schema %}
{
  "name": "Announcement bar",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "topbar-email-text",
      "label": "email",
      "default": "<p>contact@example.com</p>"
    },
    {
      "type": "font",
      "id": "topbar-font",
      "label": "Font style"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "font-size",
      "min": 12,
      "max": 64,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
  ]
}
{% endschema %}




{% javascript %}
{% endjavascript %}