{% assign megamenu = 'tm-navigation-dropdown' %}
<div class="header-bottomarea navbar-{{ section.id }}">
  <div class="container">
    <div class="header-bottominner">
      <div class="header-logo">
        <a href="index.html">
          <img src="{{ "logo.png" | asset_url }}" alt="dialia logo">
        </a>
      </div>
      <nav class="tm-navigation">
        <ul>
          {% for link in linklists['main-menu'].links -%}
            <li
              {% if link.links.size > 0 %}
                class="tm-navigation-dropdown"
              {% endif %}
            >
              {{ link.title | link_to: link.url }}
              {% if link.links.size > 0 %}
                <ul>
                  {% for child_link in link.links %}
                    <li
                      {% if child_link.links.size > 0 %}
                        class="has-child"
                      {% endif %}
                    >
                      {{ child_link.title | link_to: child_link.url }}
                      {% if child_link.links.size > 0 %}
                        {% if child_link.links.size >= 8 %}
                        {% endif %}
                        <ul>
                          {% for grandchild_link in child_link.links %}
                            <li>{{ grandchild_link.title | link_to: grandchild_link.url }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {%- endfor %}
        </ul>
      </nav>
      <div class="header-icons">
        <ul>
          <li>
            <a href="{{ location.origin }}/cart"><i class="zmdi zmdi-shopping-cart"></i></a>
          </li>
          <li>
            <a href="#" class="header-searchtrigger"><i class="zmdi zmdi-search"></i></a>
          </li>
        </ul>
      </div>
      <div class="header-searchbox">
        <div class="header-searchinner">
          <form action="#" class="header-searchform">
            <input type="text" placeholder="Enter search keyword..">
          </form>
          <button class="search-close"><i class="zmdi zmdi-close"></i></button>
        </div>
      </div>
    </div>
    <div class="header-mobilemenu clearfix">
      <div class="tm-mobilenav"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Navbar",
  "tag": "section"
}
{% endschema %}

<script>
  //   document.querySelectorAll('.tm-navigation-dropdown').forEach(target=>{
  //     if(target.innerText=='Pages'){
  //         target.className= 'tm-navigation-megamenu overflow-element'
  //     }
  // })

  document.querySelectorAll('.tm-navigation-dropdown').forEach((target) => {
    target.querySelectorAll('ul li').forEach((e) => {
      if (e.classList.contains('has-child')) {
        if (e.querySelectorAll('li').length >= 8) {
          e.closest('.tm-navigation-dropdown').className = 'tm-navigation-megamenu overflow-element';
        }
      }
    });
  });
</script>
